.swiper-content{
  position: relative;
  .swiper-part1{
    background-color: #ddd;
    display: flex;
    img{
      width: 100%;
    }
    h2{
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      color: #0B50A1;
      line-height: 28px;
    }
    p{
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 28px;
    }
  }
  .swiper-part2{
    position: absolute;
    bottom: 30px;
    right: 30px;
    .pagetions{
      display: inline-block;
      border: 6px solid #7070f1;
      margin-left: 12px;
      position: relative;
      .clickableImg{
        width: 170px;
      }
      &.active{
        border-color: #ffff008f;
        &::before{
          content: '';
          width: 30px;
          height: 30px;
          display: block;
          position: absolute;
          top: -26px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0;
          height: 0;
          overflow: hidden;
          font-size: 0;
          line-height: 0;
          border: 10px;
          border-style: dashed dashed solid dashed;
          border-color: transparent transparent #ffff008f transparent;
        }
        &::after{
          content: '';
          width: 30px;
          height: 30px;
          display: block;
          position: absolute;
          top: -16px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0;
          height: 0;
          overflow: hidden;
          font-size: 0;
          line-height: 0;
          border: 10px;
          border-style: dashed dashed solid dashed;
          border-color: #928e8e00 transparent rgba(0, 0, 0, 0.56078) transparent;
        }
      } 
    }
  }
}



